@charset "utf-8";
/* CSS Document */

.heading {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #996600;
}

.content{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #669999;
}
